:root {
    --main-color: #ffccd5; /* Rosado claro */
    --main-color:rgb(231, 231, 25);
    --main-color: rgb(246, 246, 105);
    --secondary-color: #ffffff; /* Blanco */
    --text-color: #333;
  }
  
  .home-container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
  
  .header {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 2rem;
    /* Otros estilos de header */
  }
  
  .header-logo {
    width: 650px; /* Tamaño base */
    height: 650px; /* Mantén el mismo tamaño en ambas dimensiones para hacerlo circular */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
    border-radius: 25%; /* Hace que sea circular */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  }
  
  .title {
    font-size:5rem;
    color: #ff6699; /* Un tono más oscuro de rosado */
  }
  
  .subtitle {
    font-size: 2.5rem; /* Tamaño de fuente grande */
    color: rgb(5, 108, 28); /* Color rosado llamativo */
    font-weight: bold; /* Fuente en negrita */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para que se destaque */
    margin: 2rem 0;
  }

  /* .subtitle{
    background: linear-gradient(45deg, #f3d707, #035e21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  } */
 
  .main-content {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos ocupen varias filas si es necesario */
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
  }
  
  .card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-bottom: 1.5%;
  }

  /* Ajustes generales para dispositivos pequeños */
@media (max-width: 768px) {


  /* Ajustes del Header */
  .header-logo {
    width: 300px;
    height: 300px;
  }

  .title {
    font-size: 2rem; /* Reduce el tamaño de la fuente */
  }

  .subtitle {
    font-size: 1rem;
  }

  /* Ajustes de las Cards */
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 5%;
  }
}

/* Ajustes para pantallas muy pequeñas (por ejemplo, iPhone SE o 320px de ancho) */
@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

}