.card {
    /* flex: 1 1 30%; */
    max-width: 100%;
    padding: 0.2rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: rgb(72, 72, 6);
  }

  /* Imagen dentro del card */
.card-image {
    width: 100%; /* Ocupa todo el ancho del card */
    height: 450px; /* Mantiene la proporción */
    object-fit: cover; /* Recorta la imagen para que se ajuste sin distorsión */
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    border-radius: 5px; /* Opcional: aplica bordes redondeados */
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

 /* Ajustes generales para dispositivos pequeños */
@media (max-width: 768px) {
    .card {
        display: block;
        width: 100%; /* Cada tarjeta ocupa todo el ancho en pantallas pequeñas */
        max-width: 100%;
        margin: 0;
      }
}