:root {
    --main-color: #ffccd5; /* Rosado claro */
    --secondary-color: #ffffff; /* Blanco */
    --text-color: #333;
  }
  
  .home-container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
  
  .header {
    padding: 8rem;
    background-color: var(--main-color);
  }
  
  .title {
    font-size:5rem;
    color: #ff6699; /* Un tono más oscuro de rosado */
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: var(--text-color);
  }
  
  /* .main-content {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    gap: 1rem;
  }
  
  .card {
    width: 30%;
    padding: 1rem;
    border: 1px solid #ff99aa;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } */

  .main-content {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos ocupen varias filas si es necesario */
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem;
  }
  
  .card {
    flex: 1 1 30%; /* Toma aproximadamente un tercio del ancho del contenedor */
    max-width: 30%;
    padding: 1rem;
    border: 1px solid #ff99aa;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #ff6699;
  }